@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* Header */
h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #211111;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

/* image */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
/* paragraph */
p {
    font-family: 'Playfair Display';
    color: #211111;
}

/* footer*/
.footer {
    background-color: #211111;
    color: white;
}
